.left{
  /* 자간조절 */
  text-align: left;
  letter-spacing: 10px;
}
.right{
  /* 단어 간격 조절 */
  text-align: right;
  word-spacing: 10px;
}
.center{
  text-align: center;
}
.justify{ /* 양쪽정렬 */
  text-align: justify;
}

.indent{
  /* 들여쓰기
  text-indent 50px
  내여쓰기
   */
  text-indent: -50px;
}
.title{
  /* 취소선 */
  text-decoration: line-through;
  /* 윗줄 text-decoration line-throgh */
}
text-decoration:overitme{

}

