/* width: 100%, height: 0  => width, height 지정 가능*/
*{
  /* 요소 크기 = content + padding + border */
  box-sizing: border-box; /* contenet-box(default) => border-box 까지 잡으면 border까지 포함해서 크기를 잡아줌*/
}
.child{
  /* width: auto; default => 하지만 자식요소이므로 따로 값 설정하지 않는이상, 부모요소의 개념에 영향을 받는다*/
  max-width: 400px; /* width 재설정, 부모의 width 안에서 설정 가능 */
  min-width: 300px; /* 자식의 최소 width 보장*/
  height: 200px;
  background-color: orange;
}

.child{
  width: 100px;
  height: 100px;
  background-color: orange;
  padding: 10px;
  border: 2px solid blue;
}