/* float 해제법
  1) float 다음 요소에 clear:both; (float2.html) 참조
  2) overflow:hidden or auto (float3.html) 참조
*/

body{
  background: #ddd;
}

.box{
  background-color: white;
  /* height: 50px;
  overflow: auto; */
}

.left{
  float: left;
}

.right{
  float: right;
}